./projectcamelot/settings.py
./camelot/constants.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# user photo repositories
mid/
thumbs/
userphotos/

# db
db.sqlite*
*.sqlite3

# logs
*.log

# from ide
.idea/

# project documentation
docs/

# emacs
*~

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.env*
venv
.DS_Store