asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.7
idna==3.4
iniconfig==2.0.0
packaging==23.1
Pillow==10.0.0
pluggy==1.2.0
pytest==7.4.0
pytz==2023.3
requests==2.31.0
six==1.14.0
sqlparse==0.4.4
urllib3==1.26.16
django-environ==0.8.1
psycopg2-binary==2.9.3
whitenoise==6.1.0
