{% extends 'camelot/base.html' %}

{% block content1 %}

<ul>
    {% if request.user.is_authenticated %}
    {{ request.user }}
    <li><a href="{% url 'index' %}">Home</a></li>

    <li><form action="{% url 'logout' %}">
    <input type="submit" value="Logout" />
    </form></li>

    {% else %}
    <li><a href="{% url 'index' %}">Homepage</a></li>

    {% endif %}

</ul>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% block content2 %}
{% endblock %}
{% endblock %}