{% extends 'camelot/baseloggedin.html' %}

{% block content2 %}
<h2>Edit {{ group.name }} Members</h2>
{% for member in group.members.all %}
    {{ member }}<br>
{% endfor %}
<br>
<h2>Add Members</h2>
<form action="{% url 'group_friend_add' group.id %}" method="post">
    {% include 'camelot/genericformtemp.html' with form=addform %}
    <input type="submit" value="Add" />
</form>
<h2>Delete Members</h2>
<form action="{% url 'group_friend_remove' group.id %}" method="post">
    {% include 'camelot/genericformtemp.html' with form=delform %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}