{% extends 'camelot/baseloggedin.html' %}

{% block content2 %}
{% load staticfiles %}
<script src="{% static 'js/timezone.js' %}"></script>
<h1>Welcome to PicPicPanda {{user.profile}}</h1>
<section class="sidebyside">
<div id="homenav">
<ul class="navbar">
<li><a href="{% url 'create_album' %}">Create Album</a></li>
<li><a href="{%url 'show_albums' request.user.id %}">View Albums</a></li>
<li><a href="{% url 'show_friends' request.user.id %}">View Friends</a></li>
<li><a href="{% url 'show_pending_requests' %}">View Pending Friend Requests</a> ({{ pendingreqs }})</li>
<li><a href="{% url 'show_profile' request.user.id %}">View Profile</a></li>
<li><a href="{% url 'update_profile' %}">Edit Profile</a></li>
<li><a href="{% url 'manage_groups' %}">Manage Friend Groups</a></li>
</ul>

<td>
    <tr>Your profile url:</tr>
    <tr>https://picpicpanda.com/space/{{request.user.username}}</tr>
</td>

<div>
    <form action="{% url 'search' %}" method="post">
    {% include 'camelot/genericformtemp.html' with form=searchform %}
    <input type="submit" value="Search" />
    </form>
</div>
</div>



<div id="feed">
    {% for item in feed %}
    <p><a href="{% url 'show_profile' item.1.user.id %}">{{ item.1 }}</a> uploaded {{ item.3 }} photo{{ item.3|pluralize:"s" }}
        to
        <a href="{% url 'show_album' item.2.id %}">{{ item.2 }}</a> on {{ item.0 }}</p>
    {% endfor %}
</div>

<!-- <div class="ad">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:120px;height:600px"
     data-ad-client="ca-pub-9031805933040638"
     data-ad-slot="3611766518"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div> -->
</section>
{% endblock %}
