<html>
<body>
Welcome to Camelot.
<!-- login form here -->
<form name="login" method="post" action="">
    <table>
        <tr>
            <td>User Name:</td><td><input type="text" name="username" value="" /></td>
        </tr>
        <tr>
            <td>Password:</td><td><input type="password" name="password" value="" /></td>
        </tr>
        <tr>
            <td>
               <input type="submit" name="login" value="Log In" style="font-size:18px; " />
            </td>
        </tr>
    </table>
</body>
</html>
