{% extends 'camelot/baseloggedin.html' %}
{% block content1 %}
<div id="banner"></div>
<div id="logincontent">
    <div id="logintable">
        <p class="centerText">Welcome to PicPicPanda<br>Share some photos with your friends<br>Share other photos with your family<br>Don't mix the two for greater health and well being</p>

        {% if messages %}
            {% for message in messages %}
                <p class="centerText"><b>{{ message }}</b></p>
            {% endfor %}
        {% endif %}

        <form name="login" action="{% url 'index' %}" method="post" accept-charset="utf-8">
            {% csrf_token %}

            {# this might be better implemented the normal form way #}
                <div class="logintable">

                    <input class="logininput" type="text" name="username" placeholder="username" required><br>
                    <input class="logininput" type="password" name="password" placeholder="password" required><br>
                    <input class="logininput" type="submit" value="Login">

                </div>
        </form>
        <ul id="loginpageoptions">
            <li><a href="{% url 'user_register' %}">Register</a></li>
            <li><a href="{% url 'password_reset' %}"> I Forgot My Password</a></li>
        </ul>
    </div>
</div>
<div id="sitemap"></div>
{% endblock %}