<html>
<body>
Welcome to Camelot.
<!-- login form here, index action value will likely change -->
<form name="login" action="{% url 'index' %}" method="post" accept-charset="utf-8">  
    {% csrf_token %}

    <table>
        <tr><td><label for="usermail">Email: </label></td>  
        <td><input type="email" name="usermail" placeholder="yourname@email.com" required></td>
        </tr>
        <tr>
        <td><label for="password">Password: </label></td>
        <td><input type="password" name="password" placeholder="password" required></td>
        </tr>
        <tr>
        <td><input type="submit" value="Login"></td>
        </tr>
    </table>  
</form>  
</body>
</html>
