{% extends 'camelot/baseloggedin.html' %}
{% block content2 %}

<!-- display info -->
<a href="{% url 'show_album' albumid %}">Back To Album</a><br><br>
Owner: {{ owner }}<br>
Contributors: {% for c in contributors %}{{ c }} {% endfor %}<br>
Who can view: {{ accesstype }}<br>
{% if groups %}
Current groups: {% for g in groups %}{{ g }} {% endfor %}
{% endif %}

{% if accesstypeform %}
<h2>Change Access Type</h2>
<form action="{% url 'update_album_access' albumid %}" method="post">
    {% include 'camelot/genericformtemp.html' with form=accesstypeform %}
    <input type="submit" value="Update" />
</form>
{% endif %}

{% if addcontributorsform %}
<h2>Add Album Contributors</h2>
<form action="{% url 'add_album_contrib' albumid %}" method="post">
    {% include 'camelot/genericformtemp.html' with form=addcontributorsform %}
    <input type="submit" value="Add Contributor" />
</form>
{% endif %}

{% if groupform %}
<h2>Add New Group To Album</h2>
<form action="{% url 'add_album_groups' albumid %}" method="post">
    {% include 'camelot/genericformtemp.html' with form=groupform %}
    <input type="submit" value="Add Groups" />
</form>
{% endif %}
{% endblock %}