{% extends 'camelot/baseloggedin.html' %}

{% block content2 %}
{% load staticfiles %}
    <ul>
        <li><a href="{% url 'show_album' photo.album.id %}">Back To Album</a></li>
        <li><a href="{% url 'show_photo_full' photo.id %}">View Full Size</a></li>
        {% if request.user.profile == photo.album.owner or request.user.profile in photo.album.contributors.all %}
            <li><a href="{% url 'set_profile_pic' photo.id %}">Set As Profile Picture</a></li>
        {% endif %}
        {% if request.user.profile == photo.album.owner or request.user.profile == photo.uploader %}
            <li><a href="{% url 'delete_photo' photo.id %}">Delete Photo</a></li>
        {% endif %}
    </ul>
    <div id="photoplusnav">
        <a id="prev" href="{% url 'present_photo' previous %}"><img src="{% static 'img/arrowleft.svg' %}" alt="Previous"></a>
        <table class="gal-img">
            <tr>
                {# https://www.iconfinder.com/icons/186410/arrow_left_previous_icon#size=256 - free for commercial use #}
                <td><img class="{{ rotation }} midrot presentedphoto" src="{% url 'show_photo' photo.id %}" alt="{{ photo.description }}"></td>
            </tr>
            <br>
            <tr>
                <td class="centerText">{{ photo.description }}</td>
            </tr>
        </table>
        <a id="next" href="{% url 'present_photo' next %}"><img src="{% static 'img/arrowright.svg' %}" alt="Next"></a>
    </div>
{% endblock %}