{% extends 'camelot/baseloggedin.html' %}
{% block content2 %}
{% if friendstatus == "not friends" %}
<a href="{% url 'add_friend' uid %}">Add Friend</a><br>
{% elif friendstatus == "friends" %}
<a href="{% url 'remove_friend' uid %}">Unfriend</a><br>
{% elif friendstatus == "pending" %}
Friend request pending<br>
{% endif %}
<p>{{ name }}</p>
<p>Description:</p>
<p>{{ description }}</p>
<p><a href="{% url 'show_albums' uid %}">Albums</a></p>
<p><a href="{% url 'show_friends' uid %}">Friends</a></p>
{% endblock %}