{% extends 'camelot/baseloggedin.html' %}
{% load staticfiles %}
{% block content2 %}
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/imagerotationscale.js' %}"></script>
<ul>
    <li><a href="{% url 'show_profile' userid %}">Back To Profile</a></li>
    {% if request.user.id == userid %}
        <li><a href="{% url 'create_album' %}">Create Album</a></li>
    {% endif %}
</ul>

<div class="galcollect">
    {% for album in albums %}
        <div class="gallery-wrap">
            <div class="gallery">
                <div>
                <a href="{% url 'show_album' album.id %}">
                    {% if album.temp %}
                        <img class="{{ album.myphotorotation }} midrot" src="{% url 'show_thumb' album.temp %}" alt="{{ album.name }}">
                    {% else %}
                        <img src="{% static 'img/defaultalbum.png' %}" alt="{{ album.name }}">
                    {% endif %}
                </a></div>
                <div class="desc">{{ album.name }}<br>{{ album.description }}</div>
            </div>
        </div>
    {% endfor %}
</div>
{% if contrib %}
<div class="galcollect" style="clear:both;">
    <br>
    <h3>Contributed Albums:</h3>

    {% for album in contrib %}
    <div class="gallery-wrap">
        <div class="gallery">
            <div>
            <a href="{% url 'show_album' id=album.id contribid=userid %}">
                {% if album.temp %}
                    <img class="{{ album.myphotorotation }}" src="{% url 'show_thumb' album.temp %}" alt="{{ album.name }}">
                {% else %}
                    <img src="{% static 'img/defaultalbum.png' %}" alt="{{ album.name }}">
                {% endif %}
            </a></div>
                <div class="desc">{{ album.name }}<br>{{ album.description }}</div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
