{% extends 'camelot/baseloggedin.html' %}
{% load staticfiles %}
{% block content2 %}
<ul>
    <li><a href="{% url 'show_profile' userid %}">Back To Profile</a></li>
    {% if request.user.id == userid %}
        <li><a href="{% url 'create_album' %}">Create Album</a></li>
    {% endif %}
</ul>
    <table>
        <tr>
        {% for album in albums %}
            <td><a href="{% url 'show_album' album.id %}">
                {% if album.temp %}
                    <img src="{% url 'show_photo' album.temp %}" alt="{{ album.name }}" height="150">
                {% else %}
                    <img src="{% static 'img/defaultalbum.png' %}" alt="{{ album.name }}" height="150">
                {% endif %}
                <br>{{ album.name }}</a></td>
        {% endfor %}
        </tr>
        <tr>
        {% for album in albums %}
            <td>{{ album.description }}</td>
        {% endfor %}
        </tr>
     </table>
{% if contrib %}
<br>
<p>Contributed Albums:</p>
<table>
    <tr>
        {% for album in contrib %}
            <td><a href="{% url 'show_album' album.id %}">
                {% if album.temp %}
                    <img src="{% url 'show_photo' album.temp %}" alt="{{ album.name }}" height="150">
                {% else %}
                    <img src="{% static 'img/defaultalbum.png' %}" alt="{{ album.name }}" height="150">
                {% endif %}
                <br>{{ album.name }}</a></td>
        {% endfor %}
        </tr>
        <tr>
        {% for album in contrib %}
            <td>{{ album.description }}</td>
        {% endfor %}
        </tr>
</table>
{% endif %}
{% endblock %}
