{% extends 'camelot/baseloggedin.html' %}

{% block content2 %}
{% load staticfiles %}
    <input type="hidden" id="albumid" name="albumid" value="{{ album.id }}">
    {% csrf_token %}
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    {# todo: add control for valid editing users #}
    {# todo: add edit on single photo view #}
    <script src="{% static 'js/get_cookie.js' %}"></script>
    <script src="{% static 'js/edit_description.js' %}"></script>
    <ul>
        <li><a href="{% url 'show_albums' contribid %}">Back To Albums</a></li>
        {% if request.user.profile == album.owner or request.user.profile in album.contributors.all %}
            <li><a href="{% url 'upload_photos' album.id %}">Add New Photos</a></li>
            <li><a href="{% url 'manage_album' album.id %}">Manage Album Access</a></li>
        {% endif %}
        {% if request.user.profile == album.owner %}
            <li><a href="{% url 'delete_album' album.id %}">Delete Album</a></li>
        {% endif %}
    </ul>
        <div class="galcollect">
        {% for photo in photos %}
            {# need to add more space between photos #}
            <div class="gallery-wrap">
                <div class="gallery">
                    <a href="{% url 'present_photo' photo.id %}">
                        <img class="midrot" src="{% url 'show_thumb' photo.id %}" alt="{{ photo.description }}">
                    </a>
                </div>
                <div class="desc">
                    <span class="edit-desc">{{ photo.description }}</span>
                    <input type="hidden" class="photoid" name="photoid" value="{{ photo.id }}">
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}