{% extends 'camelot/baseloggedin.html' %}

{% block content2 %}
    {% if request.user.profile == album.owner or request.user.profile in album.contributors.all %}
    <a href="{% url 'upload_photos' album.id %}">Add New Photos</a><br>
    <a href="{% url 'manage_album' album.id %}">Manage Album Access</a>
    {% endif %}
    <table>
        <!-- we'll need to limit the number of tds -->
        <tr>
        {% for photo in photos %}
        <!-- maybe need to somehow proportion width and height -->
            <td><a href="{% url 'present_photo' photo.id %}"><img src="{% url 'show_photo' photo.id %}" alt="{{ photo.description }}" width="150" height="150"></img></a></td>
        {% endfor %}
        </tr>
        <tr>
        {% for photo in photos %}
        <!-- hopefully this is right, test after adding photo upload -->
        <td>{{ photo.description }}</td>
        {% endfor %}
        </tr>
    </table>
{% endblock %}