{% extends 'camelot/baseloggedin.html' %}

{% block content2 %}
    <table>
        <!-- we'll need to limit the number of tds -->
        <tr>
        {% for album in albums %}
            <!-- need to reference url correctly -->
            <td><a href="{% url 'show_album' album.id %}">{{ album.name }}</a></td>
        {% endfor %}
        </tr>
        <tr>
        {% for album in albums %}
        <td>{{ album.description }}</td>
        {% endfor %}
        </tr>
     </table>
{% endblock %}
