{% extends 'camelot/baseloggedin.html' %}

{% block content2 %}
{% load staticfiles %}
{# maybe make the following input field readonly https://www.w3schools.com/tags/att_input_readonly.asp #}
<input type="hidden" id="albumid" name="albumid" value="{{ albumid }}">
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/photoupload.js' %}"></script>
<form id="uploadphotosform" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div id="forms">
        {{ form.as_p }}
    </div>

    <input id="sendupload" type="submit" value="Submit" />
</form>
{# <button id="add-another">add another</button> #}
{% endblock %}