{% extends 'camelot/baseloggedin.html' %}

{% block content2 %}
{% load staticfiles %}
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/photoupload.js' %}"></script>
<form id="uploadphotosform" method="post" enctype='multipart/form-data'>
    <!-- this following bit is repetitive and will need to be put in a separate file and imported in -->
    <!-- description field will need to be way bigger -->
    {% csrf_token %}
    <div id="forms">
        {{ form.as_p }}
    </div>

    <input type="submit" value="Submit" />
</form>
<button id="add-another">add another</button>
{% endblock %}