html {
  background-color: #f0fff0;
}

h1 {
    color: #191970;
}

.centerText{
   text-align: center;
}

/* these are used in presentphoto.html */

table.gal-img {
    margin:auto;
}

table.gal-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#photoplusnav {
    display: flex;
}

#prev{
    margin-top: 15%;
}

#next{
    margin-top: 15%;
}

/* these are used in showalbum.html and showalbums.html */

div.gallery {
    margin: 5px;
    margin:auto;
    height: 100%;
}

div.gallery-wrap:hover {
    border: 1px solid #777;
}

div.gallery a {
   color: #000000;
   text-decoration: none;
}

div.gallery img {
    padding: 1px;
}

div.gallery-wrap {
    padding:10px;
    padding-bottom: 30px;
    float:left;
    text-align:center;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

div.desc {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
}

.edit-desc {
    display: inline-block;
    min-width: 50%;
    min-height: 1.3em;
}

/*div.galcollect {
    padding-bottom:10px;
}*/

/* used in login page */
#banner {
    width:100%;
    height:25%;
}

#logincontent {
    margin: auto;
    width:100%;
    height:50%;
}

#logintable {
    margin: 0 auto;
}

.logintable {
    margin: auto;
    text-align:center;
}

input.logininput {
    margin: 5px;
}

#loginpageoptions {
    text-align:center;
}

#loginpageoptions a {
    padding-bottom: 0.2em;
}

#sitemap {
    width:100%;
    height:25%;
}

/*
table.logincontent {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
}*/

.picprofile {
    padding-bottom:5%;
}

/* used in user home page */
#feed {
    /*flex: 1;*/
    padding: 10px;
    border-style: dashed;
    border-color: #191970;
}

#homenav {
    flex: 0 0 50%;
}

.yourprofileurl {
    padding-top: 1em;
    padding-bottom: 1em;
}

.sidebyside {
    display: flex;
}

/* center the ad in the bottom of the screen */
.ad {
    flex: 1;
    width:600px;
    height:120px;
    padding-left: 30px;
}

/* Message flashing */
.flash {
    background-color: #FBB0B0;
    padding: 0.5em;
    width: 90%;
    list-style: none;
}