html {
  background-color: #f0fff0;
}

h1 {
    color: #191970;
}

.centerText{
   text-align: center;
}

/* these are used in presentphoto.html */

table.gal-img {
    margin:auto;
}

table.gal-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#photoplusnav {
    display: flex;
}

#prev{
    margin-top: 15%;
}

#next{
    margin-top: 15%;
}

/* these are used in showalbum.html and showalbums.html */

div.gallery {
    margin: 5px;
    margin:auto;
    height: 100%;
}

div.gallery-wrap:hover {
    border: 1px solid #777;
}

div.gallery a {
   color: #000000;
   text-decoration: none;
}

div.gallery img {
    padding: 1px;
}

div.gallery-wrap {
    padding:10px;
    padding-bottom: 30px;
    float:left;
    text-align:center;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

div.desc {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
}

/*div.galcollect {
    padding-bottom:10px;
}*/

/* used in login page */
#banner {
    width:100%;
    height:25%;
}

#logincontent {
    margin: auto;
    width:100%;
    height:50%;
}

#logintable {
    margin: 0 auto;
}

.logintable {
    margin: auto;
    text-align:center;
}

input.logininput {
    margin: 5px;
}

#loginpageoptions {
    text-align:center;
    margin-right: 2%;
}

#loginpageoptions li {
    list-style-type: none;
}

#sitemap {
    width:100%;
    height:25%;
}

/*
table.logincontent {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
}*/

/* for rotations of images */
/* todo: we may want to create separate css for in photo presentation and album presentation */
.rotate90 {
   -webkit-transform: rotate(90deg) translateY(-122%) scale(0.75);
   -moz-transform: rotate(90deg) translateY(-122%) scale(0.75);
   -o-transform: rotate(90deg) translateY(-122%) scale(0.75);
   -ms-transform: rotate(90deg) translateY(-122%) scale(0.75);
   transform: rotate(90deg) translateY(-122%) scale(0.75);
   /*transform-origin: 45% 75%; ?*/
   transform-origin: top left;
   /* IE 10+, Firefox, etc. */
   -webkit-transform-origin: top left;
   /* Chrome */
   -ms-transform-origin: top left;

    height: 100%;
    width: 100%;
}

.picprofile {
    padding-bottom:5%;
}

/*https://www.quora.com/How-can-you-rotate-images-using-JavaScript - some good css info*/
/*.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

    transform-origin: top left;
    /* IE 10+, Firefox, etc.
    -webkit-transform-origin: top left;
    /* Chrome
    -ms-transform-origin: top left;
}
.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);

    transform-origin: top left;
    /* IE 10+, Firefox, etc.
    -webkit-transform-origin: top left;
    /* Chrome
    -ms-transform-origin: top left;
}*/


/* used in user home page */
#feed {
    /*flex: 1;*/
    padding: 10px;
    border-style: dashed;
    border-color: #191970;
}

#homenav {
    flex: 0 0 50%;
}

.sidebyside {
    display: flex;
}

/* center the ad in the bottom of the screen */
.ad {
  flex: 1;
  width:600px;
  height:120px;
  padding-left: 30px;
}
