html {
  background-color: #f0fff0;
}

h1 {
    color: #191970;
}

.centerText{
   text-align: center;
}

/* these are used in presentphoto.html */

/*#imgpresent{
    max-width:90%;
    max-height:70%;
}*/

table.gal-img {
    margin:auto;
}

table.gal-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#prev{
    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#next{
    float: right;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* these are used in showalbum.html and showalbums.html */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    margin:auto;
    height: 100%;
    /*overflow: hidden;*/
    /*width: auto;*/
    /*float: left;*/
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery a {
   color: #000000;
   text-decoration: none;
}

div.gallery img {
    /*width: 75%;*/
    /*height: 75%;*/
    /*max-width:100%;
    max-height:100%;*/
    padding: 1px;
    /*align: center;*/
}

div.gallery-wrap {
    padding:10px;
    display:inline-block;
    float:left;
    text-align:center;
    height: 200px;
}

div.desc {
    padding-top: 2px;
    text-align: center;
}

/* todo: rotated images must have text at bottom of gallery div */
div.desc span{
    position:relative;
    bottom:0;
    right:0;
}

/* used in login page */
#banner {
    width:100%;
    height:25%;
}

#logincontent {
    margin: auto;
    width:100%;
    height:50%;
}

#logintable {
    margin: 0 auto;
    /*overflow: auto;*/
}

.logintable {
    margin: auto;
    /*padding-left: 41%;*/
    text-align:center;
}

input.logininput {
    margin: 5px;
}

#loginpageoptions {
    /*margin: auto;
    padding-left: 44%;*/
    text-align:center;
    margin-right: 2%;
}

#loginpageoptions li {
    list-style-type: none;
}

#sitemap {
    width:100%;
    height:25%;
}

/*
table.logincontent {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
}*/

/* for rotations of images */
/* this seems to sufficiently work for now */
/* todo: we may want to create separate css for in photo presentation and album presentation */
.rotate90 {
   -webkit-transform: rotate(90deg) translateY(-100%) scale(0.75);
   -moz-transform: rotate(90deg) translateY(-100%) scale(0.75);
   -o-transform: rotate(90deg) translateY(-100%) scale(0.75);
   -ms-transform: rotate(90deg) translateY(-100%) scale(0.75);
   transform: rotate(90deg) translateY(-100%) scale(0.75);
   /* todo: center */
   /*transform-origin: 45% 75%; ?*/
   transform-origin: top left;
   /* IE 10+, Firefox, etc. */
   -webkit-transform-origin: top left;
   /* Chrome */
   -ms-transform-origin: top left;

    height: 100%;
    width: 100%;
}

.midrot {
   /* I don't know how these values will do with a variety of pictures */
   padding-bottom: 20%;
   padding-top:20%;

   /*width: 70%;*/
}

.picprofile {
    padding-bottom:5%;
}
/*https://www.quora.com/How-can-you-rotate-images-using-JavaScript - some good css info*/
/*.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

    transform-origin: top left;
    /* IE 10+, Firefox, etc.
    -webkit-transform-origin: top left;
    /* Chrome
    -ms-transform-origin: top left;
}
.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);

    transform-origin: top left;
    /* IE 10+, Firefox, etc.
    -webkit-transform-origin: top left;
    /* Chrome
    -ms-transform-origin: top left;
}*/


/* used in user home page */
#feed {
    /*flex: 1;*/
    padding: 10px;
    border-style: dashed;
    border-color: #191970;
}

#homenav {
    flex: 0 0 50%;
}

.sidebyside {
    display: flex;
}

/* center the ad in the bottom of the screen */
.ad {
  flex: 1;
  width:600px;
  height:120px;
  padding-left: 30px;
}
