@media screen and (max-width: 740px) {
    .sidebyside {
        flex-direction: column;
    }

    .presentedphoto {
        max-width: 80%;
        height: auto;
    }

    #next {
        right: 0%;
    }
}